body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #495057;
}
.form-container {
  margin-right: 1em;
}
.container > div:nth-child(2) {
  width: 100%;
}

ul > li {
  display: flex;
  align-items: center;
  min-height: 2.3em;
}
ul > li > span {
  vertical-align: 1em;
  flex-grow: 1;
}
ul > li button {
  margin: 0 0.5em;
}

.container {
  display: flex;
  flex-direction: row;
  /*   flex-wrap: wrap; */
  justify-content: space-around;
  padding: 20px;
}

.shelf {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

button {
  transition: 0.1s ease;
}
button:hover {
  transform: scale(1.1);
}

/* .shelf {
  border-top: 6px solid #007bff
} */

.shelf::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #007bff;
  border-radius: 10px 10px 0 0;
}

.shelf h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.shelf p {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
}

.form-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;

  max-width: 250px;
}

label {
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 1.2rem;
  color: #495057;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Media queries for responsiveness */
@media only screen and (min-width: 768px) {
  .input-container {
    flex-direction: row;
    align-items: center;
  }

  input,
  select {
    width: auto;
    margin-bottom: 0;
  }
}
